Labb1/Klienten/Service References/Calc3Nums/CalcThreeNums.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcThree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num3" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcThreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcThreeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcThreeSoapIn">
    <wsdl:part name="parameters" element="tns:CalcThree" />
  </wsdl:message>
  <wsdl:message name="CalcThreeSoapOut">
    <wsdl:part name="parameters" element="tns:CalcThreeResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcThreeNumsSoap">
    <wsdl:operation name="CalcThree">
      <wsdl:input message="tns:CalcThreeSoapIn" />
      <wsdl:output message="tns:CalcThreeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcThreeNumsSoap" type="tns:CalcThreeNumsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcThree">
      <soap:operation soapAction="http://tempuri.org/CalcThree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcThreeNumsSoap12" type="tns:CalcThreeNumsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcThree">
      <soap12:operation soapAction="http://tempuri.org/CalcThree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcThreeNums">
    <wsdl:port name="CalcThreeNumsSoap" binding="tns:CalcThreeNumsSoap">
      <soap:address location="http://localhost:33683/CalcThreeNums.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcThreeNumsSoap12" binding="tns:CalcThreeNumsSoap12">
      <soap12:address location="http://localhost:33683/CalcThreeNums.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>