Labb1/Klienten/Service References/Namesdagar/NamnsdagGenerator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NameDays">
        <s:complexType />
      </s:element>
      <s:element name="NameDaysResponse">
        <s:complexType />
      </s:element>
      <s:element name="NameDayDateReturner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NameDayDateReturnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NameDayDateReturnerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NameDaysSoapIn">
    <wsdl:part name="parameters" element="tns:NameDays" />
  </wsdl:message>
  <wsdl:message name="NameDaysSoapOut">
    <wsdl:part name="parameters" element="tns:NameDaysResponse" />
  </wsdl:message>
  <wsdl:message name="NameDayDateReturnerSoapIn">
    <wsdl:part name="parameters" element="tns:NameDayDateReturner" />
  </wsdl:message>
  <wsdl:message name="NameDayDateReturnerSoapOut">
    <wsdl:part name="parameters" element="tns:NameDayDateReturnerResponse" />
  </wsdl:message>
  <wsdl:portType name="NamnsdagGeneratorSoap">
    <wsdl:operation name="NameDays">
      <wsdl:input message="tns:NameDaysSoapIn" />
      <wsdl:output message="tns:NameDaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NameDayDateReturner">
      <wsdl:input message="tns:NameDayDateReturnerSoapIn" />
      <wsdl:output message="tns:NameDayDateReturnerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NamnsdagGeneratorSoap" type="tns:NamnsdagGeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NameDays">
      <soap:operation soapAction="http://tempuri.org/NameDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NameDayDateReturner">
      <soap:operation soapAction="http://tempuri.org/NameDayDateReturner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NamnsdagGeneratorSoap12" type="tns:NamnsdagGeneratorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NameDays">
      <soap12:operation soapAction="http://tempuri.org/NameDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NameDayDateReturner">
      <soap12:operation soapAction="http://tempuri.org/NameDayDateReturner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NamnsdagGenerator">
    <wsdl:port name="NamnsdagGeneratorSoap" binding="tns:NamnsdagGeneratorSoap">
      <soap:address location="http://localhost:34759/NamnsdagGenerator.asmx" />
    </wsdl:port>
    <wsdl:port name="NamnsdagGeneratorSoap12" binding="tns:NamnsdagGeneratorSoap12">
      <soap12:address location="http://localhost:34759/NamnsdagGenerator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>